<% @page_title = session[:username] %>

<div id="topnav">
	 <%= link_to("Logout",:action => 'logout') %>
	<%= button_to "Edit Account", {:action => 'edit'}, {:class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only",:style=>"width:200px"} %>
	<%= button_to "Schedule a new meeting", {:controller => "meeting", :action => "new"}, {:class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only",:style=>"width:200px"} %>
</div>


<% if @next_meetings && @next_meetings.empty? == false %>
	<h2>Next Meetings</h2>
	<table>
		<tr>
			<th>Date</th>
			<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Subject</b></th>
		</tr>
		<% @next_meetings.each do |meeting| %>
		<tr>
			<td><%= meeting.datetime %></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= meeting.subject %></td>
		</tr>
		<% end %>
	</table>
<% else %>
	<h2>No next meetings found</h2>
<% end %>


<br><br><br><br><br>
<% if @past_meetings && @past_meetings.empty? == false %>
	<h2>Past meetings</h2>
	<table>
		<tr>
			<th>Date</th>
			<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Subject</b></th>
		</tr>
		<% @past_meetings.each do |meeting| %>
		<tr>
			<td><%= meeting.datetime %></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to(meeting.subject, {:controller => "meeting", :action => "show", :id => meeting.user_link}) %></td>
		</tr>
		<% end %>
	</table>
<% else %>
	<h2>No past meetings found</h2>
<% end %>