<tr class="fields">
	<td>
		<%= f.text_field :description, :placeholder => 'New Task...', :class=>"inputtable", :onfocus => "add_action(this)", :onBlur => "remove_blank(this)" %>
	</td>
	<td>

		<%= f.select :user_id, options_for_select(@meeting.users.map {|d| [d.name || d.email, d.id]}, :selected => f.object.user_id),:style=>"width:100px;" %>
	</td>
	<td>
		<%= f.text_field :due, :value => f.object.due ? f.object.due.strftime("%d/%m/%Y") : "-", :placeholder => 'Deadline', :class => "datepicker", :style=>"width:80px;" %>
	</td>
	<td>
		<%= f.select :action_item_status_id, options_for_select(@action_item_statuses.map {|d| [d.name, d.id]}, :selected => f.object.action_item_status_id),:style=>"width:60px;" %>
	</td>
	<%= link_to_remove_fields "Remove", f %>
</tr>