<%= form_for(@meeting, :url => {:action => 'create'}) do |f| %>	
  <label>Date
		<span class="small">Click to open Calendar</span>
	</label>
	<input type="text" id="datepicker" class="input">
	
	<label>Time
		<span class="small">Click to open Time Picker</span>
	</label>
	<input type="text" id="timepicker" class="input">
	
	<label>Subject
		<span class="small">Meeting Subject</span>
	</label>
	<%= f.text_field :subject ,:class=>"input"%>
	
	<label><br>Guests
		<span class="small">Paste your contacts</span>
	</label>
	<%= text_area_tag 'emails', nil ,:class=>"textarea1" %>
	
	
	<label>Topcis
		<span class="small">Click tab to navigate</span>
	</label>
	<table id="topics" style="position:relative;left:138px;">
		<tr>
			<th>
				<span class="small" style="position:relative;left:15px;text-align:left;">Title</span>
			</th>
			<th>
				<span class="small" style="position:relative;left:15px;text-align:left;">Descritpion</span>
			</th>
			<th>
				<span class="small" style="width:60px;">Duration</span>
			</th>
			<th></th>
		</tr>
		<tr id="fields">
			<%= link_to_add_fields "Add Topic", f, :topics %>
			<%= f.fields_for :topics do |builder| %>
				<%= render "topic_fields", :f => builder %>
			<% end %>
		</tr>
		
  </table>
  
  <%= submit_tag "Schedule", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"left:800px"%>
<% end %>
