<script type="text/javascript">

	//trim
	String.prototype.trim = function () {
		return this.replace(/^\s+|\s+$/g,"");
	}

	//left trim
	String.prototype.ltrim = function () {
		return this.replace(/^\s+/,"");
	}

	//right trim
	String.prototype.rtrim = function () {
		return this.replace(/\s+$/,"");
	}

	function parse_emails(text_area) {
		emails = text_area.value.split(",");
		txt = "";
		for (i=0;i<emails.length;i++) {
			emails[i] = emails[i].trim();
			if (emails[i].length == 0)
				continue;
			if (emails[i].indexOf('"') == -1 && emails[i].indexOf('<') != -1)
				emails[i] = '"' + emails[i].substring(0,emails[i].indexOf('<')).trim() + '" ' + emails[i].substring(emails[i].indexOf('<')).trim();
			if (i!=0)
				txt += ",\n"
			txt += emails[i];
		}
		text_area.value = txt;
	}
	
	function remove_blank(obj) {
		if (obj.value == "") {
			obj.parentNode.parentNode.lastChild.onmousedown()
		}
	}
</script>

<%= form_for(@meeting, :url => {:action => 'create'}) do |f| %>	
	<label>Called By
		<span class="small">Email</span>
	</label>
	<%= email_field_tag :manager_email, nil, :class=>"input", :placeholder => 'Email of the manager', :value => @manager ? @manager.email : "" %>
	
	<label>&nbsp;
		<span class="small">Name</span>
	</label>
	<%= text_field_tag 'manager_name' , nil, :class=>"input", :placeholder => 'Optional...', :value => @manager ? @manager.name : "" %>
	
	<label>
		<span class="small">Click to Calendar Picker</span>
	</label>Date
	<%= text_field_tag 'date', nil, :id => "datepicker", :class => "input", :placeholder => 'Click me!', :value => @meeting.datetime ? @meeting.datetime.strftime("%d/%m/%Y") : (DateTime.now + 1.day).strftime("%d/%m/%Y") %>
	
	<label>Time
		<span class="small">Click to Time Picker</span>
	</label>
	<%= text_field_tag 'time', nil, :id => "timepicker", :class => "input", :placeholder => 'Click me!', :value => @meeting.datetime ? @meeting.datetime.strftime("%H:%M") : Time.at((DateTime.now.to_f / 5.minutes).round * 5.minutes).strftime("%H:%M") %>
	
	<label>Subject
		<span class="small">Meeting Subject</span>
	</label>
	<%= f.text_field :subject ,:class=>"input", :placeholder => 'This field is mandatory!' %>
	
	<label><br>Guests
		<span class="small">Paste your contacts (separated by commas)</span>
	</label>
	<%= text_area_tag 'emails', nil ,:onBlur => "parse_emails(this);", :class=>"textarea1", :placeholder => 'Must have at least one mail' %>
	
	
	<label>Topics
		<span class="small">Click tab to navigate</span>
	</label>
	<table id="topics" style="position:relative;left:138px;">
		<tr>
			<th>
				<span class="small" style="position:relative;left:15px;text-align:left;">Title</span>
			</th>
			<th>
				<span class="small" style="position:relative;left:15px;text-align:left;">Descritpion</span>
			</th>
			<th>
				<span class="small" style="width:60px;">Duration</span>
			</th>
			<th></th>
		</tr>
		<tr id="fields">
			<%= link_to_add_fields "Add Topic", f, :topics %>
			<%= f.fields_for :topics do |builder| %>
				<%= render "topic_fields", :f => builder %>
			<% end %>
		</tr>
		
  </table>
  
  <%= submit_tag "Schedule", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"top: 2px;left:750px"%>
  <%= link_to "Cancel", {:controller=>"public", :action => "index"},{:type=>"button",:class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"width:97px;height:23px;left:750px;text-align: center;vertical-align:middle;padding: 5px;"} %>
<% end %>

