<% @page_title = "Manage meeting" %>

<script type="text/javascript">
	function add_topic(obj) {
		var btn =  document.createElement('span');

		btn.setAttribute('onmousedown', "remove_fields(this);");
		btn.setAttribute('class',"ui-icon ui-icon-circle-close");
		btn.setAttribute('style',"position:relative;top:6px;cursor: pointer;width:15px;");
		$(obj).closest(".fields").append(btn);
		
		if (obj.value == "")
			document.getElementById("add_field_link_topic").onclick();
		obj.setAttribute('onfocus',"");
	}

	function add_action(obj) {
		var btn =  document.createElement('span');

		btn.setAttribute('onmousedown', "remove_fields(this);");
		btn.setAttribute('class',"ui-icon ui-icon-circle-close");
		btn.setAttribute('style',"position:relative;top:6px;cursor: pointer;width:15px;");
		$(obj).closest(".fields").append(btn);

		obj.setAttribute('onfocus',"");
	}

	function init() {
		//add first empty topic
		$("#add_field_link_topic").hide();
		document.getElementById("add_field_link_topic").onclick();
		
		<% if @emails %>
			if ("<%= @emails %>" != "") {
				emails = document.getElementById("emails");
				emails.value = "<%= @emails.html_safe %>";
				$("textarea").blur()
			}
		<% end %>
		$(".inputtable").focus()
	}

	window.onload = init;

</script>

<div id="stylized" class="myform" style="height:100%;">
	<h1>Manage Meeting</h1>
	<p>Please edit your changes</p>

	<%= form_for(@meeting, :url => {:action => 'update', :id => params[:id]}) do |builder| %>
		<%= render :partial => 'form', :locals => {:f => builder, :manager => true} %>
	
		<%= submit_tag "Close Meeting", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"top: 2px;left:150%" %>
		<%= submit_tag "Update", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"top: 2px;left:150%"%>
		<%= link_to "Cancel", {:controller=>"public", :action => "index"},{:type=>"button",:class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"width:97px;height:23px;left:150%;text-align: center;vertical-align:middle;padding: 5px;"} %>
	<% end %>
	
</div>
