
User_link_id: <%= params[:id] %><br />
<%= @meeting.closed %>

<div id="stylized" class="myform" style="height:100%;">
	<h1><%= @meeting.subject %></h1>
	<p>Called by <%= @meeting.get_manager.name || @meeting.get_manager.email %></p>
</div>

<table id="meeting-info">
	<tr>
		<td class="context"><h1>Date</h1></td>
		<td><%=@meeting.datetime.strftime("%d/%m/%Y %H:%M") %></td>
	</tr>
	
	<tr>
		<td class="context">
			<h1>Guests</h1>
			<small>Who will attend</small>
		</td>
		<td style="line-height:200%;">
			<% @meeting.get_guests.each do |guest| %>
				<% if guest.name%>
					<%=guest.name%>( <%= guest.email %> )
				<% else%>
					<%= guest.email%>
				<%end%>
				<br>
			<% end %>
		</td>
	</tr>
	
	<tr>
		<td class="context"><h1>Topics</h1><small>Meeting Topics</small></td>
		<td style="line-height:130%;">
			<ul id="topics">
				<% @meeting.topics.each do |topic| %>
					<h2><%= topic.title %><small style="font-weight:bold;"><%= (" - "+topic.time.to_s+" min") || "-" %></small></h2>
					
					<%= topic.description || "-" %>
					<% if !topic.action_items.blank? %>
				
						<ul class="subtopics">
							<li>
								<table>
									<tr>
										<th>Action Item</th>
										<th>Responsible</th>
										<th>Deadline</th>
										<th>Status</th>
									</tr>
									<% topic.action_items.each do |item| %>
										<tr>
											
											<td><%= item.description %></td>
											<td><%= item.user.name || item.user.email%></td>
											<td><%= item.due ? item.due.strftime("%d/%m/%Y") : "-"%></td>
											<td><%= item.action_item_status.name %></td>
											
										</tr>
									<% end %>
								</table>
							</li>
							<br>
						</ul>
					<%end%>
					<h2>&nbsp;</h2>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
<%= button_to "Back", {:controller => "public", :action => "index"},{:type=>"button",:class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"left: 90%;"} %>
	



