<!DOCTYPE html>
<html>
  <head>
    <title>eMeeting | <%= @page_title || "define page title please" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	
  	<div id="page">
	    <div id="header">
	      <h1><%= link_to "eMeeting", {:controller => 'public', :action => 'index'}, :class=>"title" %></h1>
	    </div>
	    <div id="main">
	      <% if !flash[:notice].blank? %>
	      <div class="ui-widget" style="width:auto;">
	      	<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;width:auto;">
	        	<p style="width:auto;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span><%= flash[:notice] %></p>
        	</div>
	      </div>
	      <% end %>
	      <div id="content">
	        <%= yield %>
	      </div>
	    </div>
	    <div id="footer">
	      <p id="copyright">&copy; João [Duro|Lopes|Marques]</p>
      	</div>
      
    </div>  	
  	
  </body>
</html>